div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#DatePicker1 .ui-datepicker
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   z-index: 1003 !important;
   display: none;
   margin: 0;
}
.ui-datepicker, .ui-datepicker .ui-corner-all
{
   border-radius: 0px;
}
#ThemeableMenu1, #ThemeableMenu1 .ui-menu-item a
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   text-decoration: none;
}
#ThemeableMenu1 .ui-menu-item a
{
   color: #333333;
}
#ThemeableMenu1 > li
{
   display: inline-block;
   list-style: none;
   width: auto;
}
#ThemeableMenu1 .ui-menu-item-wrapper
{
   line-height: 15px;
   padding: 10px 15px 10px 15px;
}
#ThemeableMenu1 > .ui-menu-item-wrapper
{
   padding: 10px 31px 10px 15px;
}
#ThemeableMenu1 ul
{
   width: 115px;
}
#Line1
{
   border-color: #A0A0A0;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#InlineFrame1
{
   border: 1px solid #C0C0C0;
   margin: 0;
}
#YouTube1
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#OverlayMenu1
{
   background-color: #424242;
   background-image: none;
   border: 0px solid #424242;
   margin: 0;
}
#OverlayMenu1:hover
{
   background-color: #CCCCCC;
   background-image: none;
   border-color: #424242;
}
#OverlayMenu1
{
   display: block;
   width: 322px;
   height: 174px;
   position: absolute;
}
#OverlayMenu1 .line
{
   width: 32px;
   height: 6px;
   background: #FFFFFF;
   display: block;
   margin: 6px auto;
}
#OverlayMenu1:hover .line
{
   background: #424242;
}
#OverlayMenu1 .line:first-child
{
   margin-top: 71px;
}
#OverlayMenu1-close
{
   background: transparent;
   font-size: 10px;
   height: 2.8em; 
   outline: none;
   position: absolute;
   right: 10px;
   text-align: left;
   top: 10px;
   width: 3em; 
}
#OverlayMenu1-close:before, #OverlayMenu1-close:after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   left: 0;
   opacity: 1;
   position: absolute;
   top: 0;
   width: 100%;
}
#OverlayMenu1-close span
{
   background: #FFFFFF;
   height: 0.6em;
   margin-top: -0.3em;
   position: absolute;
   top: 50%;
   -ms-transform-origin: 50% 50%;
   -webkit-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu1-close span::after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   position: absolute;
   -ms-transform-origin: 50% 50%;
   -webkit-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu1-close:before
{
   margin-top: -0.3em;
   opacity: 0;
   top: 50%;
}
#OverlayMenu1-close:after
{
   bottom: 50%;
   opacity: 0;
}
#OverlayMenu1-close span
{
   background: #FFFFFF;
   -ms-transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
}
#OverlayMenu1-close span:after
{
   background: #FFFFFF;
   -ms-transform: rotate(-90deg);
   -webkit-transform: rotate(-90deg);
   transform: rotate(-90deg);
}
#OverlayMenu1-overlay
{
   background-color: rgba(122,122,122,0.87);
   height: 100%;
   left: 0;
   overflow: hidden;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
}
#OverlayMenu1-overlay ul
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   list-style: none;
   margin: 0;
   padding: 0;
}
.OverlayMenu1
{
   position: relative;
   top: 50%;
   height: 60%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   width: 100%;
   max-width: 970px;
   margin: 0 auto 0 auto;
}
.OverlayMenu1 a
{
   text-decoration: none;
}
.OverlayMenu1 ul
{
   list-style: none;
   padding: 0;
   text-align: center;
}
.OverlayMenu1 li 
{
   position: relative;
}
.OverlayMenu1 li a 
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FFFFFF;
   outline: none;
}
.OverlayMenu1 li a:hover 
{
   color: #424242;
   background-color: #CCCCCC;
}
#OverlayMenu1-overlay
{
   visibility: hidden;
   width: 0;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   -webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
   transition: width 400ms 0.3s, visibility 0s 700ms;
}
#OverlayMenu1-overlay.show
{
   visibility: visible;
   width: 100%;
   -webkit-transition: width 400ms;
   transition: width 400ms;
}
#OverlayMenu1-overlay .OverlayMenu1
{
   position: absolute;
   left: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%);
   transform: translateY(-50%) translateX(-50%);
   opacity: 0;
   -webkit-transition: opacity 0.3s 400ms;
   transition: opacity 0.3s 400ms;
}
#OverlayMenu1-overlay.show .OverlayMenu1
{
   opacity: 1;
   -webkit-transition-delay: 400ms;
   transition-delay: 400ms;
}
#OverlayMenu1-overlay.hide .OverlayMenu1
{
   -webkit-transition-delay: 0s;
   transition-delay: 0s;
}
.OverlayMenu1 li.drilldown-back > a 
{
   padding-left: 40px;
   background: rgba(0,0,0,0.1);
}
.OverlayMenu1 li.drilldown-back > a:hover
{
   background-color: #CCCCCC;
}
.OverlayMenu1 li.drilldown-back:after,
.OverlayMenu1 li > a:not(:only-child):after 
{
   position: absolute;
   top: 15px;
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 9px;
   border-left: 9px solid #FFFFFF;
   border-top: 7px solid transparent;
   border-bottom: 7px solid transparent;
   border-right: 0 dotted;
   content: " ";
}
.OverlayMenu1 li.drilldown-back:after 
{
   left: 9px;
   color: #FFFFFF;
   -webkit-transform: rotate(180deg);
   transform: rotate(180deg);
}
.$ID$ li.drilldown-back:hover:after,
.$ID$ li > a:not(:only-child):hover:after 
{
   border-left-color: #424242;
}
.OverlayMenu1 li > a:after 
{
   color: rgba(0,0,0,0.15);
   right: 10px;
}
.OverlayMenu1 .drilldown-menu 
{
   margin: 0;
   width: 100%;
}
.OverlayMenu1 li .drilldown-submenu 
{
   display: none;
}
.drilldown-menu.drilldown-subview li,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > a,
.drilldown-menu.drilldown-subview li.drilldown-subview > a 
{
   display: none;
}
.drilldown-menu.drilldown-subview li.drilldown-subview,
.drilldown-menu.drilldown-subview li.drilldown-subview .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu > li 
{
   display: block;
}
.OverlayMenu1 > .drilldown-submenu 
{
   left: 0;
   margin: 0;
   position: absolute;
   top: 50px;
   width: 100%;
}
#OverlayMenu1-overlay .overlay-icon
{
   margin: 0px 10px 0px 0px;
}
#MediaPlayer1
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Pagination1
{
   display: inline-block;
   list-style: none;
   padding: 0;
   border-radius: 4px;
   font-family: Arial;
   font-weight: normal;
   font-size: 0;
   margin: 0;
}
#Pagination1 > li
{
   display: inline;
   font-size: 13px;
}
#Pagination1 > li > a, #Pagination1 > li > span
{
   position: relative;
   float: left;
   padding: 6px 12px 6px 12px;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DDDDDD;
   color: #337AB7;
   margin-left: -1px;
}
#Pagination1 > li:first-child > a, #Pagination1 > li:first-child > span
{
   margin-left: 0;
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#Pagination1 > li:last-child > a, #Pagination1 > li:last-child > span
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#Pagination1 > li > a:hover, #Pagination1 > li > span:hover, #Pagination1 > li > a:focus, #Pagination1 > li > span:focus 
{
   background-color: #CCCCCC;
   color: #23527C;
}
#Pagination1 > .active > a, #Pagination1 > .active > span, #Pagination1 > .active > a:hover, #Pagination1 > .active > span:hover, #Pagination1 > .active > a:focus, #Pagination1 > .active > span:focus
{
   z-index: 2;
   background-color: #337AB7;
   border-color: #337AB7;
   color: #FFFFFF;
   cursor: default;
}
#Pagination1 > .disabled > span, #Pagination1 > .disabled > span:hover, #Pagination1 > .disabled > span:focus, #Pagination1 > .disabled > a, #Pagination1 > .disabled > a:hover, #Pagination1 > .disabled > a:focus 
{
   background-color: #FFFFFF;
   color: #777777;
   cursor: not-allowed;
}
#wb_header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #171717;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
}
#header .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 75%;
   text-align: left;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#header > .row > .col-1, #header > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#Breadcrumb2
{
   padding: 8px 15px 8px 15px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: Arial;
   font-weight: bold;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb2 > li
{
   display: inline-block;
   font-size: 24px;
}
#Breadcrumb2 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Breadcrumb2 a:hover
{
   color: #8A2BE2;
   text-decoration: none;
}
#Breadcrumb2 > .active
{
   color: #8A2BE2;
}
#Breadcrumb2 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb2 li:hover
{
   color: #007BFF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#Breadcrumb2 li
{
   color: #FFFFFF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#Breadcrumb2 li a:hover
{
   color: #007BFF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#Breadcrumb2 li a
{
   color: #FFFFFF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
.ThemeableMenu2 .hide 
{
   display: none!important;
}
.ThemeableMenu2 .show 
{
   display: block!important;
}
.ThemeableMenu2 .hidden
{
   display: none!important;
   visibility: hidden!important;
}
.ThemeableMenu2 .nav
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   color: #2B2B2B;
   text-align: left;
}
#ThemeableMenu2, .ThemeableMenu2 .nav, .ThemeableMenu2 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.ThemeableMenu2 .nav:before,
.ThemeableMenu2 .nav:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu2 .nav:after 
{
   clear: both;
}
.ThemeableMenu2 .nav a 
{
   text-decoration: none;
}
.ThemeableMenu2 .nav ul
{
   margin-top: 0;
   margin-bottom: 10px;
}
.ThemeableMenu2 .nav ul ul
{
   margin-bottom: 0;
}
.ThemeableMenu2 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.ThemeableMenu2 .container:before,
.ThemeableMenu2 .container:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu2 .container:after 
{
   clear: both;
}
.ThemeableMenu2 .collapse 
{
   display: none;
}
.ThemeableMenu2 .collapse.in 
{
   display: block;
}
.ThemeableMenu2 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height .35s ease;
   transition: height .35s ease;
}
.ThemeableMenu2 .caret 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.ThemeableMenu2 .dropdown 
{
   position: relative;
}
.ThemeableMenu2 .dropdown-toggle:focus 
{
   outline: 0;
}
.ThemeableMenu2 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.ThemeableMenu2 .dropdown-menu .divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.ThemeableMenu2 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #2B2B2B;
   white-space: nowrap;
}
.ThemeableMenu2 .dropdown-menu>li>a:hover,
.ThemeableMenu2 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.ThemeableMenu2 .dropdown-menu>.active>a,
.ThemeableMenu2 .dropdown-menu>.active>a:hover,
.ThemeableMenu2 .dropdown-menu>.active>a:focus 
{
   color: #fff;
   text-decoration: none;
   outline: 0;
   background-color: #343A40;
}
.ThemeableMenu2 .open>.dropdown-menu 
{
   display: block;
}
.ThemeableMenu2 .open>a 
{
   outline: 0;
}
.ThemeableMenu2 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.ThemeableMenu2 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.ThemeableMenu2 .nav>li 
{
   position: relative;
   display: block;
}
.ThemeableMenu2 .nav>li>a 
{
   position: relative;
   display: block;
   padding: 15px 15px 15px 15px;
}
.ThemeableMenu2 .nav .open>a,
.ThemeableMenu2 .nav .open>a:hover,
.ThemeableMenu2 .nav .open>a:focus 
{
   background-color: #ccc;
   border-color: #343A40;
}
.ThemeableMenu2 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.ThemeableMenu2 .nav>li>a>img 
{
   max-width: none;
}
.ThemeableMenu2 .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.ThemeableMenu2
{
   position: relative;
   border: 1px solid transparent;
   background-color: transparent;
   background-image: none;
}
.ThemeableMenu2:before,
.ThemeableMenu2:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu2:after 
{
   clear: both;
}
.ThemeableMenu2 .navbar-header:before,
.ThemeableMenu2 .navbar-header:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu2 .navbar-header:after 
{
   clear: both;
}
.ThemeableMenu2-navbar-collapse 
{
   max-height: 340px;
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.ThemeableMenu2-navbar-collapse:before,
.ThemeableMenu2-navbar-collapse:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu2-navbar-collapse:after 
{
   clear: both;
}
.ThemeableMenu2-navbar-collapse.in 
{
   overflow-y: auto;
}
.ThemeableMenu2 .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 16px 10px 15px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.ThemeableMenu2 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.ThemeableMenu2 .navbar-toggle .icon-bar+.icon-bar 
{
   margin-top: 4px;
}
.ThemeableMenu2 .navbar-nav 
{
   margin: 6px -15px;
}
.ThemeableMenu2 .navbar-nav>li>.dropdown-menu 
{
   margin-top: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}
.ThemeableMenu2 .navbar-nav>li>a 
{
   color: #2B2B2B;
}
.ThemeableMenu2 .navbar-nav>li>a:hover,
.ThemeableMenu2 .navbar-nav>li>a:focus 
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.ThemeableMenu2 .navbar-nav>.active>a,
.ThemeableMenu2 .navbar-nav>.active>a:hover,
.ThemeableMenu2 .navbar-nav>.active>a:focus 
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.ThemeableMenu2 .navbar-toggle 
{
   border: 1px solid rgba(43,43,43,0.10);
}
.ThemeableMenu2 .navbar-toggle:hover,
.ThemeableMenu2 .navbar-toggle:focus 
{
   background-color: transparent;
}
.ThemeableMenu2 .navbar-toggle .icon-bar 
{
   background-color: #A2A2A2;
}
.ThemeableMenu2-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.ThemeableMenu2 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu2 .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu2 .navbar-nav>.open>a,
.ThemeableMenu2 .navbar-nav>.open>a:hover,
.ThemeableMenu2 .navbar-nav>.open>a:focus 
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.ThemeableMenu2 .navbar-nav>.open>a .caret,
.ThemeableMenu2 .navbar-nav>.open>a:hover .caret,
.ThemeableMenu2 .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu2 .navbar-nav>.dropdown>a .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu2 .navbar-link 
{
   color: #2B2B2B;
}
.ThemeableMenu2 .navbar-link:hover 
{
   color: #2B2B2B;
}
.ThemeableMenu2 .navbar-header
{
   color: #A2A2A2;
   height: 48px;
}
@media (min-width: 480px) 
{
.ThemeableMenu2 .navbar-right .dropdown-menu 
{
   right: 0;
   left: auto;
}
.ThemeableMenu2 .navbar-header 
{
   float: left;
}
.ThemeableMenu2-navbar-collapse 
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.ThemeableMenu2-navbar-collapse.collapse 
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.ThemeableMenu2-navbar-collapse.in 
{
   overflow-y: auto;
}
.ThemeableMenu2 .navbar-toggle
{
   display: none;
}
.ThemeableMenu2 .navbar-nav 
{
   float: right;
   margin: 0;
}
.ThemeableMenu2 .navbar-nav>li 
{
   float: left;
}
.ThemeableMenu2 .container>.navbar-header,
.ThemeableMenu2 .container>.ThemeableMenu2-navbar-collapse 
{
   margin-right: 0;
   margin-left: 0;
}
.ThemeableMenu2 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu2 .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
}
@media (max-width: 480px) 
{
.ThemeableMenu2 
{
   border-color: rgba(23,23,23,1.00);
}
.ThemeableMenu2 .navbar-nav 
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.ThemeableMenu2 .navbar-nav .open .dropdown-menu 
{
   position: static;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.ThemeableMenu2 .navbar-nav .open .dropdown-menu>li>a,
.ThemeableMenu2 .navbar-nav .open .dropdown-menu .dropdown-header 
{
   padding: 5px 15px 5px 25px;
}
.ThemeableMenu2 .navbar-nav .open .dropdown-menu>li>a 
{
   line-height: 20px;
}
.ThemeableMenu2 .navbar-nav .open .dropdown-menu>li>a:hover,
.ThemeableMenu2 .navbar-nav .open .dropdown-menu>li>a:focus 
{
   background-image: none;
}
}
@media (min-width: 480px) 
{
.ThemeableMenu2 
{
   background-color: transparent;
   background-image: none;
   border-color: rgba(23,23,23,1.00);
   border-radius: 0px;
}
.ThemeableMenu2 .navbar-nav>li>a 
{
   color: #A2A2A2;
}
.ThemeableMenu2 .navbar-nav>li>a:hover,
.ThemeableMenu2 .navbar-nav>li>a:focus 
{
   color: #007BFF;
   background-color: transparent;
   background-image: none;
}
.ThemeableMenu2 .navbar-nav>.active>a,
.ThemeableMenu2 .navbar-nav>.active>a:hover,
.ThemeableMenu2 .navbar-nav>.active>a:focus 
{
   color: #007BFF;
   background-color: transparent;
   background-image: none;
}
.ThemeableMenu2 .navbar-nav>.open>a,
.ThemeableMenu2 .navbar-nav>.open>a:hover,
.ThemeableMenu2 .navbar-nav>.open>a:focus 
{
   background-color: transparent;
   background-image: none;
   color: #007BFF;
}
.ThemeableMenu2 .navbar-nav>.dropdown>a:hover .caret 
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.ThemeableMenu2 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #A2A2A2;
   border-bottom-color: #A2A2A2;
}
.ThemeableMenu2 .navbar-nav > li.active > a > .caret,
.ThemeableMenu2 .navbar-nav > li.active > a:hover > .caret,
.ThemeableMenu2 .navbar-nav > li.active > a:focus > .caret
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.ThemeableMenu2 .navbar-nav>.open>a .caret,
.ThemeableMenu2 .navbar-nav>.open>a:hover .caret,
.ThemeableMenu2 .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.ThemeableMenu2 .navbar-link 
{
   color: #A2A2A2;
}
.ThemeableMenu2 .navbar-link:hover 
{
   color: #fff;
}
}
#ThemeableMenu2 li
{
   color: #A2A2A2;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#ThemeableMenu2 li:hover
{
   color: #007BFF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#ThemeableMenu2 li a
{
   color: #A2A2A2;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#ThemeableMenu2 li a:hover
{
   color: #007BFF;
   -webkit-transition: color 500ms linear 0ms;
   -moz-transition: color 500ms linear 0ms;
   transition: color 500ms linear 0ms;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text2 div
{
   text-align: justify;
}
#Marquee1
{
   background-color: #EEEEEE;
   background-image: none;
   border: 1px solid #C0C0C0;
   text-align: center;
   margin: 0;
}
#SlideShow1 .image
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Banner1
{
   background-color: #265A88;
   background: linear-gradient(to top, #002840 0%, #002840 18%, #4ECAFD 50%, #002840 81%, #002840 100%);
   border: 1px solid #245580;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-align: center;
   margin: 0;
}
#Banner1 span
{
   display: block;
   height: 19px;
   margin: 47px 0px 47px 0px;
}
#Banner1 .single-char
{
   float: left;
}
#Banner1 div
{
   display: inline-block;
   text-align: center;
}
.Banner1_ShowAnimation
{
   -webkit-animation:  1000ms linear 0s 1 normal both;
   -moz-animation:  1000ms linear 0s 1 normal both;
   animation:  1000ms linear 0s 1 normal both;
}
.Banner1_HideAnimation
{
}
